/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 3rem;
  background: powderblue;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

/* Icons */

.icon-container {
  font-size: 20px;
  border: 1.5px solid #fff;
  border-radius: 100%;
  color: #fff;
  padding: 10px;
  transition: all 0.3s;
}

.icon-container:hover {
  color: var(--Soft-Magenta);
  border: 1px solid var(--Soft-Magenta);
}
